extends layout

block header
    include title
    script 
        include damage.js
    //- script
    //-     include damageSelect.js

block content
    script 
        include damage.js
    p <br/>
    table 
        tbody 
            tr 
                td 
                    span.emphasize Attacker
                td
                    input(name='attackerName' type='text' id="attackerName")
            tr
                td
                    span.emphasize Move Name
                td
                    input(name='moveName' type='text' id="moveName")
            tr 
                td 
                    span.emphasize Defender
                td
                    input(name='defenderName' type='text' id="defenderName")

    a.btn(href='' id="calculateBtn") Calculate!
    script(type='text/javascript' src="./damage.js").