doctype html

html
    head
        title Error
        style
            include style.css
        script
            include table_filter.js
    body
        include title
        section.below-header.container
            p #{message}